# Neon Postgres
DATABASE_URL="postgresql://user:password@host-pooler.region.aws.neon.tech/neondb?sslmode=require"

# Neon Object Storage (S3-compatible)
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_ENDPOINT_URL_S3=""
AWS_REGION=""

# Worker vars
MEDIA_BUCKET="nimeplay"
