# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.wrangler
dist
www

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fallow/
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Android local SDK path
android/local.properties
